/*variables */
:root {
    --extra: #0f218a;
    --c1: #d9d9d9;
    --c2: #f6f2f2;
    --code-bg: linear-gradient(315deg, var(--c1) 0%, var(--c2) 74%);
    --code-bg2: linear-gradient(315deg, var(--c2) 26%, var(--c1) 74%);
    --entry: var(--code-bg);
    --theme: var(--code-bg);
    --border: var(--code-bg2);
    --main-width: var(--nav-width);
    --radius: 10px;
}

.dark {
    --extra: #8c9999;
    --c1: #130f40;
    --c2: #000000;
    --code-bg: linear-gradient(315deg, var(--c1) 0%, var(--c2) 74%);
    --code-bg2: linear-gradient(315deg, var(--c2) 26%, var(--c1) 74%);
    --entry: var(--code-bg);
    --theme: var(--code-bg);
    --border: var(--code-bg2);
}

@font-face {
    font-family: "Noor-Font";
    src: url("../../fonts/Cairo-Regular.ttf");
}

body, .dark.list {
    background-color: var(--c1);
    background-image: var(--code-bg);
    font-family: -apple-system, BlinkMacSystemFont, "Noor-Font", 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*generic*/

.button, .terms-tags > li {
    background-color: var(--c1);
    background-image: var(--code-bg);
    font-size: 20px;
    border-color: var(--code-bg2);
}

.button:hover, .terms-tags > li:hover {
    background-color: var(--c2);
    background-image: var(--code-bg2);
}

.post-tags a:hover,
.paginav a:hover {
    background: var(--code-bg2);
}

.pagination > .next, .pagination > .prev {
    background: var(--code-bg2);
}

/*home page*/

.home-buttons {
    margin: 10px auto;
}

.home-buttons-title {
    margin-top: 20px;
    margin-bottom: 5px;
}

.buttons {
    max-width: 800px;
    justify-content: flex-start;
}

.latest-articles-title {
    margin-bottom: 20px;
    font-weight: 500;
}


/*footer*/
.footer-nav {
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height)
}

#footer-menu {
    display: flex;
    margin: auto var(--gap);
    padding-left: var(--gap);
    padding-right: var(--gap);
}

#footer-menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: center;
}

#footer-menu li+li {
    margin-inline-start: var(--gap);
}

#footer-menu a {
    font-size: 16px;
    border-bottom: none;
}

#footer-menu .active {
    font-weight: 500;
    border-bottom: 2px solid currentColor;
}



/*post*/
.first-entry {
    /*margin: auto;*/
    margin: var(--gap)0 calc(var(--gap));
}

.post-meta {
    padding-top: 10px;
    padding-bottom: 10px;
}

.category {
    color: var(--extra);
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    float: right;
    font-size: 18px;
    font-weight: 400;
}

.post-icon {
    height: 26px;
    width: 26px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    position: relative;
    float: right;
}


/*code*/
pre {
    font-size: 20px;
}

code > * {
    font-size: 15px;
}

.cv {
    width: var(--main-width);
    height: 1100px;
    text-align: center;
    margin-top: calc(2 * var(--gap));
}

.cv-iframe {
    width: calc(var(--main-width) - var(--gap) * 4);
    height: inherit;
}