<div class="footer-nav">
  {{- $currentPage := . }}
  <ul id="footer-menu" onscroll="menu_on_scroll()">
    {{- range .Site.Menus.footer }}
    {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
    {{- $page_url:= $currentPage.Permalink | absLangURL }}
    {{- $is_search := eq ($.Site.GetPage .KeyName).Layout `search` }}
    <li>
      <a href="{{ .URL | absLangURL }}" title="{{ .Title | default .Name }} {{- cond $is_search (" (Alt + /)" | safeHTMLAttr) ("" | safeHTMLAttr ) }}"
      {{- cond $is_search (" accesskey=/" | safeHTMLAttr) ("" | safeHTMLAttr ) }}>
      <span {{- if eq $menu_item_url $page_url }} class="active" {{- end }}>
                        {{- .Name -}}
      </span>
      </a>
    </li>
    {{- end -}}
  </ul>
</div>