{{- with $.Site.Params.homeInfoParams }}
<article class="first-entry home-info">
  <header class="entry-header">
    <h1>{{- .Title | markdownify }}</h1>
  </header>
  <section class="entry-content">
    <p>{{- .Content | markdownify }}</p>
  </section>
  <footer class="entry-footer">
    {{- partial "social_icons.html" $.Site.Params.socialIcons -}}
  </footer>


  <div class="home-buttons">
    {{- with .series }}
    <h3 class="home-buttons-title">Series:</h3>
    <div class="buttons">
      {{- range . -}}
      <a class="button" href="{{ trim .url " " }}" rel="noopener" title="{{ .name | humanize }}">
      <span class="button-inner">{{ .name }}</span>
      </a>
      {{- end -}}
    </div>
    {{- end }}

    {{- with .video_series }}
    <h3 class="home-buttons-title">Video Series:</h3>
    <div class="buttons">
      {{- range . -}}
      <a class="button" href="{{ trim .url " " }}" rel="noopener" title="{{ .name | humanize }}">
      <span class="button-inner">{{ .name }}</span>
      </a>
      {{- end -}}
    </div>
    {{- end }}

    {{- with .categories }}
    <h3 class="home-buttons-title">Categories:</h3>
    <div class="buttons">
      {{- range . -}}
      <a class="button" href="{{ trim .url " " }}" rel="noopener" title="{{ .name | humanize }}">
      <span class="button-inner">{{ .name }}</span>
      </a>
      {{- end -}}
    </div>
    {{- end }}
  </div>

</article>
{{- end}}

<h2 class="latest-articles-title">Latest Posts</h2>
